{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": "commonjs",
        "loose": false,
        "targets": {
          "node": "current",
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    ["styled-components", {
      "ssr": true,
    }],
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
