{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": "commonjs",
        "loose": false,
        "targets": {
          "node": "current",
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    ["styled-components", {
      "ssr": true
    }],
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "browser": {
      "babelrc": false,
      "presets": [
        "react",
        [
          "env",
          {
            "modules": false,
            "loose": false,
            "targets": {
              "uglify": true,
              "browsers": [
                "> 1%",
                "last 2 versions"
              ]
            }
          }
        ]
      ],
      "plugins": [
        ["styled-components", {
          "ssr": true
        }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["lodash", { "id": "recompact" }]
      ]
    }
  }
}
